<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Home Page</title>
</head>

<body>
    <h1>Library Home Page</h1>
    <form action="/library/search" method="GET">
        <input type="text" name="query" placeholder="Search books...">
        <button type="submit">Search</button>
    </form>

    <button id="loginButton">Login</button>

    <div id="searchResults"></div>

    <script src="searchScript.js"></script>    


</body>

</html>