<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librarian Page</title>
    <!-- styling -->
</head>
<body>
    <div class="container">
        <h1>Librarian Page</h1>

        <form action="/library/search" method="GET">
            <input type="text" name="query" placeholder="Search books...">
            <button type="submit">Search</button>
        </form>

        <div id="searchResults"></div>
        
        <button class="button" onclick="window.location.href='/addBook'">Add book to catalog</button>
        <button class="button" onclick="window.location.href='/editBook'">Edit book details</button>
        <button class="button" onclick="window.location.href='/deleteBook'">Remove book from catalog</button>
        <button class="button">Logout</button>
    </div>

    <script src="../Public/searchScript.js" type="module"></script>

</body>
</html>