body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    box-sizing: border-box;
    min-height: 100vh;
}

header {
    font-size: 3em;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: #0f8b62;
    color: #fff;
    padding: 20px 0;
    position: relative;
}

.login-container {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    transform: scale(0.35);
    transform-origin: top right;
}

.login-input {
    padding: 7px;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    padding: 7px 14px;
    font-size: 0.9em;
    background-color: #ffffff;
    color: #0f8b62;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 10px auto;
}

.login-button:hover {
    background-color: #0e4633;
}

.container {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.search-box {
    width: calc(100% - 90px);
    padding: 8px;
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-button {
    width: 80px;
    padding: 8px;
    font-size: 0.8em;
    background-color: #0f8b62;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
}

.search-button:hover {
    background-color: #0e4633;
}

.search-results {
    display: none;
    margin-top: 20px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.book-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.book-item h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.book-item p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

@media (min-width: 600px) {
    header {
        font-size: 4em;
        padding: 30px 0;
    }

    .container {
        width: 80%;
    }

    .search-box {
        font-size: 1em;
    }

    .search-button {
        font-size: 1em;
        padding: 7px;
        width: 90px;
    }

    .login-input {
        font-size: 0.9em;
        padding: 7px;
    }

    .login-button {
        padding: 7px 14px;
        font-size: 0.9em;
    }
}